<form class="form-vertical">
    <div class="modal-body">
      <div class="form-group">
        <label for='username-or-email'>{{i18n forgot_password.invite}}</label>
        {{textField value=accountEmailOrUsername placeholderKey="login.login_placeholder" id="username-or-email" autocorrect="off" autocapitalize="off" class="form-control"}}
      </div>      
    </div>
    <div class="modal-footer">
      <button class='btn btn-info' {{bind-attr disabled="submitDisabled"}} {{action "submit"}}>{{i18n forgot_password.reset}}</button>
    </div>
</form>
