<div id="sidebar">
  {{render "appbar"}}
  
  {{#if currentUser.isLoggedIn}}
    {{render "channels"}}
    {{render "userbar"}}
  {{else}}
    {{render "loginRequired"}}
  {{/if}}  
</div>

<div id="main">
  {{outlet}}
</div>

{{render "modal"}}