<div class="channel-header">
  <a data-toggle="dropdown" class="cog"><i class="fa fa-cog"></i></a>
  <h2>{{name}}</h2>
  <span>{{topic}}</span>

  <ul class="channel-settings dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a {{action "leaveChannel" this}}>{{i18n leave}}</a></li>
  {{#if owned}}
    <li class="divider"></li>
    <li><a {{action "editRoom" this}}>{{i18n edit}}</a></li>
    <li><a {{action "deleteRoom" this}}>{{i18n delete}}</a></li>
  {{/if}}
  </ul>
</div>

<div class="channel-messages">
  <ul class="messagelist scroller">
    {{#each messages}}
      <li class="message">
        {{boundAvatar user imageSize="medium"}}
        <div class="details">{{user.username}}   •  <time>1 minute ago</time></div>
        <div class="body">{{cooked}}</div>
      </li>
    {{/each}}
  </ul>
</div>

{{render "composer" this}}

<div class="channel-users">
  <div class="header">People</div>

  {{#each users}}
    {{#if this.online}}
      {{boundAvatar this imageSize="medium"}}
    {{/if}}
  {{/each}}
</div>