<div class="channel-header">
  <div class="channel-name" data-toggle="dropdown">
    <h2><span class="prefix">#</span>{{name}}</h2> <i class="fa fa-chevron-down channelmenu"></i>
  </div>  
  <span class="channel-topic">{{topic}}</span>

  <ul class="channel-settings dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a {{action "openArchives" this}}><i class="fa fa-list"></i> {{i18n channel.archives}}</a></li>
    <li><a {{action "openLinks" this}}><i class="fa fa-link"></i> {{i18n channel.links}}</a></li>
    <li class="divider"></li>
    <li><a {{action "leaveChannel" this}}><i class="fa fa-sign-out"></i> {{i18n channel.leave}}</a></li>
    {{#if currentUser.isAdmin}}
    <li><a {{action "archiveChannel" this}}><i class="fa fa-archive"></i> {{i18n channel.archive}}</a></li>
    <li class="divider"></li>
    <li><a {{action "renameChannel" this}}><i class="fa fa-font"></i> {{i18n channel.rename}}</a></li>
    <li><a {{action "editPurpose" this}}><i class="fa fa-pencil"></i> {{i18n channel.edit_purpose}}</a></li>
    <li class="menu-footer">
      <p>{{i18n channel.set_topic}}</p>
      {{textField value=channelTopic class="form-control input-sm"}}
    </li>
    {{/if}}
  </ul>
</div>

<div class="channel-messages">
  <ul class="messagelist scroller">
    {{#each messages}}
      <li class="message">
        {{boundAvatar user imageSize="medium"}}
        <div class="details">{{user.username}}   •  <time>1 minute ago</time></div>
        <div class="body">{{cooked}}</div>
      </li>
    {{/each}}
  </ul>
</div>

{{render "composer" this}}

<div class="channel-users">
  <div class="header">People</div>

  {{#each users}}
    {{#if this.online}}
      {{boundAvatar this imageSize="medium"}}
    {{/if}}
  {{/each}}
</div>