<div class="channel-header">
  <div class="channel-name" data-toggle="dropdown">
    <h2><span class="prefix">#</span>{{name}}</h2> <i class="fa fa-chevron-down channelmenu"></i>
  </div>  
  <span class="channel-topic">{{topic}}</span>
  
  <div class="channel-header-right">
    <div class="channel-search">
      <i class="fa fa-search search-icon"></i>
      {{#if isSearching}}
      <a class="cancel-search" {{action "cancelSearch"}}><i class="fa fa-times-circle"></i></a>
      {{/if}}
      {{textField value=channelSearch placeholderKey="search" class="form-control input-sm channel-search-input"}}
    </div>

    <button class="btn btn-xs btn-default"><i class="fa fa-bars"></i></button>
    <button class="btn btn-xs btn-default open-sidebar" {{action "toggleSidebar" target="view"}}><i class="fa fa-toggle-left"></i></button>
    <button class="btn btn-xs btn-default close-sidebar" {{action "toggleSidebar" target="view"}}><i class="fa fa-toggle-right"></i></button>
  </div>

  <ul class="channel-settings dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a {{action "openArchives" this}}><i class="fa fa-list"></i> {{i18n channel.archives}}</a></li>
    <li><a {{action "openLinks" this}}><i class="fa fa-link"></i> {{i18n channel.links}}</a></li>
    <li class="divider"></li>
    <li><a {{action "leaveChannel" this}}><i class="fa fa-sign-out"></i> {{i18n channel.leave}}</a></li>
    {{#if currentUser.isAdmin}}
    <li><a {{action "archiveChannel" this}}><i class="fa fa-archive"></i> {{i18n channel.archive}}</a></li>
    <li class="divider"></li>
    <li><a {{action "editChannel" this "name"}}><i class="fa fa-font"></i> {{i18n channel.rename}}</a></li>
    <li><a {{action "editChannel" this "purpose"}}><i class="fa fa-pencil"></i> {{i18n channel.edit_purpose}}</a></li>
    <li class="menu-footer">
      <p>{{i18n channel.set_topic}}</p>
      {{textField value=channelTopic class="form-control input-sm channel-topic-input"}}
    </li>
    {{/if}}
  </ul>
</div>

<div class="channel-messages">
  <ul class="messagelist scroller">
    {{#each messages}}
      <li class="message">
        {{boundAvatar user imageSize="medium"}}
        <div class="details">{{user.username}}   •  <time>1 minute ago</time></div>
        <div class="body">{{cooked}}</div>
      </li>
    {{/each}}
  </ul>
</div>

{{render "composer" this}}

<div class="channel-sidebar">
  <div class="header">People</div>
</div>

<div class="channel-users">
  <a {{action "toggleUsers" target="view"}}><i class="fa fa-users"></i> {{memberCount}}</a>
  
  <ul class="channel-userlist">
  {{#each usersByStatus}}
    <li>{{#link-to "user" this}}<i {{bind-attr class=":presence status" title="status"}}></i> {{username}}{{/link-to}}</li>
  {{/each}}
  </ul>
</div>