<div class="content">
  <button {{action "newRoom"}} class="actionbtn btn btn-info">{{i18n lobby.newroom}}</button>
  <h2>{{i18n lobby.title}} <span>{{i18n lobby.available}}</span></h2>
  
  <div id="roomlist" class="scroller">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>{{i18n lobby.name}}</th>
        <th>{{i18n lobby.topic}}</th>
        <th>{{i18n lobby.owner}}</th>
        <th></th>
      </tr>
      </thead>
      
      <tbody>
      {{#each arrangedContent}}
        {{#unless isNew}}
          <tr {{bind-attr class="className"}}>
            <td {{action "joinRoom" this}}>{{name}}</td>
            <td {{action "joinRoom" this}}>{{topic}}</td>
            <td>{{owner.username}}</td>
            <td>
              <i class="fa fa-trash-o" {{action "deleteRoom" this}}></i>
            </td>
          </tr>
        {{/unless}}
      {{/each}}
      </tbody>
    </table>
  </div>
</div>