<tr {{bind-attr class="className"}}>
  <td {{action "joinRoom" this}}>{{name}}</td>
  <td {{action "joinRoom" this}}>{{topic}}</td>
  <td>{{owner.username}}</td>
  <td>
    {{#if owned}}
    <button class="btn btn-sm btn-default" {{action "editRoom" this}} title="{{i18n rename}}">
      <i class="fa fa-pencil-square-o"></i>  
    </button>
    <button class="btn btn-sm btn-warning" {{action "deleteRoom" this}} title="{{i18n delete}}">
      <i class="fa fa-trash-o"></i>
    </button>
    {{/if}}
  </td>
</tr>