<div id="rooms">
  {{#link-to "lobby" class="lobby-link"}}<i class="fa fa-list"></i> {{i18n rooms.lobby}}{{/link-to}}

  <div class="header">{{i18n rooms.open}}</div>
  <ul>
    {{#each room in rooms}}
      {{#if room.open}}
        {{#link-to "room" room tagName="li" href=false}}
          <a {{action "leaveRoom" room}} class="leave"><i class="fa fa-times-circle"></i></a>
          <a {{bind-attr href="view.href"}} class="room"><i class="fa fa-users"></i> {{room.name}} </a>
        {{/link-to}}
      {{/if}}
    {{/each}}
  </ul>
</div>