<div class="room-header">
  <a {{action "roomSettings"}} class="cog"><i class="fa fa-cog"></i></a>
  <h2>{{name}}</h2>
  <span>{{topic}}</span>
</div>

<div class="room-messages">
  <ul class="messagelist scroller">
    {{#each messages}}
    <li class="message">
      {{boundAvatar user imageSize="medium"}}
      <div class="details">{{user.username}}   •  <time>1 minute ago</time></div>
      <div class="body">{{cooked}}</div>
    </li>
    {{/each}}
  </ul>
</div>

<div class="room-composer">
  {{boundAvatar currentUser imageSize="medium"}}
</div>

<div id="users">
  <div class="header">People</div>

  PPllll
</div>