<div class="userbar" {{bind-attr class="userbarClass"}}>
  {{#if currentUser.isLoggedIn}}
    <div class="userbar-details" {{action "toggleUserbar"}}>
      {{boundAvatar currentUser imageSize="medium"}}
      <span>{{currentUser.username}}</span>
    </div>

    <div class="userbar-select">
      <ul>
        <li>{{#link-to "preferences"}}<i class="fa fa-cog"></i> {{i18n userbar.preferences}}{{/link-to}}</li>
        <li><a {{action "logout"}}><i class="fa fa-sign-out"></i> {{i18n userbar.logout}}</a></li>
      </ul>
    </div>
  {{else}}
    <div class="userbar-details" {{action "showLogin"}}>
      <span>{{i18n userbar.login}}</span>
    </div>
  {{/if}}
</div>